@charset "ISO-8859-1";
body
      {
          margin: 0%;
          padding: 0%;
      }
      .top-bar
      {
        background: radial-gradient(circle at 10% 20%, rgb(255, 197, 61) 0%, rgb(255, 94, 7) 90%);
        height: 70px;
      }
      .block-div
      {
          padding: 5px 30px 5px 30px;
          border-radius: 10px;
          background: radial-gradient(circle at 10% 20%, rgb(255, 197, 61) 0%, rgb(255, 94, 7) 90%);

      }
      .detai-block
      {
        background: radial-gradient(circle at 10% 20%, rgb(255, 197, 61) 0%, rgb(255, 94, 7) 90%);
        height: 90vh;
        border: 15px solid white;
        border-radius: 20px;
      }
      .detai-block img
      {
        width: 100%;
      }
      .mnu a
      {
      	margin-top:8px;
      	margin-right: 5px;
      	float: right;
      	padding: 15px;
      	background-color: white;
      	border-radius: 5px;
      }